*{
  box-sizing: border-box;
  padding: 0;
  margin: 0;
  color: white;
}
html,body{
  height: 100%;
  width: 100%;
  background-color: black;
  padding: 5px;
}
button{
  padding: 10px;
  border:none;
  border-radius: 20px;
  background-color: crimson;
  font-weight: 600;
  color: black;
  margin: auto;
}

.card{
  height: 300px;
  width: 300px;
  border: 1px solid;
  background-color: rgb(153, 89, 102);
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  overflow: hidden;
  gap: 2px;
}

.cardContainer{
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 10px;
  gap: 5px;
  flex-wrap: wrap;
}